<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict Position from Sell Side Reports</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<!--    <form method="POST" action="{{ url_for('index') }}">-->
    <form method="POST" action="."  enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div id="userInput">
        <p>
         {{ form.input.label }}
        </p>
            <p>
            {{ form.input(rows='50',cols='100') }}
            </p>
        <p>{{ form.send }}
        </p>
        </div>
    </form>
</body>
</html>



